# Server Configuration
PORT=8083

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=lambda_db
DB_SSLMODE=disable

# NATS Configuration
NATS_URL=nats://localhost:4222

# Code Storage
CODE_STORAGE_PATH=./lambda-code
